.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 0.4rem;
  height: 5rem;
  width: 8rem;
}

.list_items {
  margin-top: 2rem;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.noData_msg {
  margin-top: 1rem;
}

.pagination {
  margin-top: 1.5rem;
}

.search_Bar {
  /* border: none !important; */
  border-top: none;
  border-right: none;
  width: 16rem;
}